services:
  # 1. VERİTABANI (MongoDB)
  mongodb:
    image: mongo:latest
    container_name: ymg-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db # Veriler kaybolmasın diye kalıcı alan

  # 2. BACKEND (Python Flask)
  rest-api:
    build: .
    container_name: basic-login-api
    ports:
      - "8000:5000"
    depends_on:
      - mongodb # Veritabanı açılmadan backend açılmasın
    restart: unless-stopped

  # 3. FRONTEND (Nginx HTML)
  frontend:
    build: ./frontend
    container_name: basic-frontend
    ports:
      - "8080:80"
    depends_on:
      - rest-api
    restart: unless-stopped

# Veritabanı için kalıcı depolama alanı
volumes:
  mongo-data: