services:
  # 1. VERİTABANI
  mongodb:
    image: mongo:latest
    container_name: ymg-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  # 2. BACKEND
  rest-api:
    build: ./backend
    container_name: basic-login-api
    ports:
      - "8000:5000"
    depends_on:
      - mongodb
    restart: unless-stopped

  # 3. FRONTEND
  frontend:
    build: ./frontend
    container_name: basic-frontend
    ports:
      - "8080:80"
    depends_on:
      - rest-api
    restart: unless-stopped

  # 4. MCP SERVİSİ (Ödev Şartı)
  mcp-server:
    build: ./mcp
    container_name: mcp-agent
    stdin_open: true
    tty: true
    restart: unless-stopped

volumes:
  mongo-data: