# Docker Compose dosya formatının sürümünü belirtir
version: '3.8'

# Uygulamamızın servislerini (hizmetlerini) tanımlıyoruz
services:
  
  # Servisimize 'rest-api' adını verelim
  rest-api:
    
    # Mevcut dizindeki Dockerfile'ı kullanarak imajı oluştur
    build: .
    
    # Container'a kolay hatırlanır bir isim ver
    container_name: basic-login-api
    
    # Port yönlendirmesi: "HOST_PORTU:CONTAINER_PORTU"
    # Bilgisayarınızın 5000 portunu container'ın 5000 portuna bağlar
    ports:
      - "8000:5000"
      
    # Container durursa yeniden başlat
    restart: unless-stopped